# .gitignore for ValveExplorer

# CLion
.idea/
cmake-build-*/

# Build directories
build/
out/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Qt
*.autosave
*.qm
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
ui_*.h

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
bin/

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# OS specific
.DS_Store
Thumbs.db
*~
